*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo logo quienSoy servicios"
        "logo logo producto contacto";
        
}

.logo{
    grid-area: logo;
    background-color: aqua;

}
.quiensoy {
    grid-area: quienSoy;
    background-color: blue;

}
.servicios{
    grid-area: servicios;
    background-color: blueviolet;
    
}
.producto{
    grid-area: producto;
    background-color: rgb(43, 226, 52);

}
.contacto{
    grid-area: contacto;
    background-color: azure;

}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;

}
